body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin: 0px 0px 0px 280px;
    display: block;
}

button {
    border-radius: 20px;
    margin-left: 130px;
    padding: 15px 30px;
    color: rgb(0, 47, 255);
    background: beige;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 17px;
}